{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Isolate plugin for Craft CMS 3.x
 *
 * Isolate index.twig
 *
 * @author    TrendyMinds
 * @copyright Copyright (c) 2019 TrendyMinds
 * @link      https://trendyminds.com
 * @package   Isolate
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("trendyminds\\isolate\\assetbundles\\isolate\\IsolateAsset") %}
{% do view.registerAssetBundle("trendyminds\\isolate\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set selectedSubnavItem = "help" %}
{% set title = "Help" %}

{% set pluginCpUrl = url('isolate') %}

{% block sidebar %}
  <nav>
    <ul>
      <li class="heading"><span>Permissions</span></li>
      <li class="heading"><span>Another</span></li>
    </ul>
  </nav>
{% endblock %}

{% set content %}
{% endset %}
